{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calculator/index.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300;1,600&display=swap" rel="stylesheet">

<div class="center-header">
	<h1><span>Bond Repayment Calculator</span></h1>
</div>

<div class="container">
	<div class="contents">
		{% if Previous_results %}
		<h3>Previously saved results</h3>
		<ul>
			{% for item in Previous_results %}
			<li>
				<a href="{% url 'calculator:show' item.pk %}">{{ item.name_to_save }}</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
    		<h3>There are no previously saved entries, click below to make a new calculation.</h3>
		{% endif %}
		<form action="{% url 'calculator:inputform' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">Make a new calculation</button>
        </form>
	</div>
</div>
